@import "bootstrap/scss/bootstrap.scss";

.app-container {
  width: 100vw;
  height: 100vh;
}

.font-Dancing{
  font-family: 'Dancing Script', Georgia, Times, serif;
 font-size: 40px;
 line-height: 60px;
 font-weight: bolder;
}

.font-Cabin{
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
 font-size: 18px;
 line-height: 25px;
 font-weight: bolder;
}

.icon{
  font-size: 30px;
}
